<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome to Jeoparty!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button size="large" color="primary" (click)="startNewGame()">Alex Trebek, Click Here</ion-button>
    <ion-button size="large" color="primary" (click)="goToContestant()">Contestant, Click Here</ion-button>
    <br/>
    <ion-input type="text" [(ngModel)]="pinToRemove"></ion-input>
    <ion-button size="small" color="primary" (click)="removeTestGame()">Remove Test Game</ion-button>
  </div>
</ion-content>
